doctype html
html
	head
		title 그림판
		script(type='text/javascript', src='http://code.jquery.com/jquery-1.12.4.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/script/canvas.js')
		link(rel='stylesheet', href='/stylesheets/canvas.css')
	body
		#hiddenDiv.hidden
			span#emp_no #{emp_no}
			span#image_room_no #{image_room_no}
		table(border='10')
			tr
				td(rowspan='3')
					// 캔버스
					canvas#canvas(width='600', height='400')
			tr
				td(height='25')
					// 색상 선택기
					span 색상:
					select#colorSelecter
						option(value='#000000') 검은색
						option(value='#FF0000') 빨강색
						option(value='#00FF00') 초록색
						option(value='#0000FF') 파랑색
						option(value='#FFFF00') 노란색
						option(value='#00FFFF') 하늘색
						option(value='#FF00FF') 핑크색
					br
					input#eraserButton(type='button', value='지우개')
					br
					// 슬라이더 두께 선택
					span 펜굵기
					input#widthSlider(type='range', min='0', max='20', value='5')
					br
					// 슬라이더 투명도 선택
					span 투명도
					input#opacitySlider(type='range', min='0', max='100')
					br
					// 화면 캡쳐
					span 화면 캡쳐
					span 캡쳐 설명:
					input#captureExplain(type='text')
					br
					input#captureButton(type='button', value='캡처')
					br
					input#clearButton(type='button', value='전부 지우기')
					br
			tr
				td
					ul#caputreList